<h2>購物車清單</h2>
<div class="clearfix">
<span class="pull-right"><%= link_to("清空購物車", clean_carts_path, method: :delete, class: "btn btn-danger") %></span>
</div>
<table class="table">
  <thead>
    <tr>
      <th>商品圖片</th>
      <th>商品名稱</th>
      <th>商品尺寸</th>
      <th>商品單價</th>
      <th>商品數量</th>
      <th>總價</th>
      <th>刪除</th>
    </tr>
  </thead>
  <tbody>
  <% cart_item = current_cart.cart_items.select('product_id, size, sum(quantity) as quantity').group(:product_id, :size) %>
    <% cart_item.each do |cart_item| %> <!-- 把所有購物車中的東西拉出來 -->
  <% item = cart_item.product %> <!-- 撈出所有購物車中所屬的產品 -->
    <tr>
      <td>
      <% if item.photo.image.present? %>
      <%= image_tag(item.photo.image.thumb.url, class: "thumbnail") %>
      <% else %>
      <%= image_tag("http://placehold.it/200x200&text=No pic", class: "thumbnail") %>
      <% end%>
      </td>
      <td>
      <%= link_to(item.title, product_path(item)) %>
      </td>
      <td><%= cart_item.size %></td>
      <%= content_tag(:td, item.price, 'data-price' => item.price, class: "price") %>
      <td>
        <%= simple_form_for cart_item, url: item_path(item) do |f| %>
        <%=f.select :quantity, 1..item.sizes.where(size: cart_item.size).first.quantity  %>
        <!-- cart_item.size是經過group後的尺寸剛好對應到商品的尺寸，然後再從商品的sizes表格下去搜尋尺寸的第一筆（因為是唯一所以第一筆就是）的數量 -->
        <%= f.submit "送出", 'type'=>'hidden', id: "quantity"%>
        <% end %>
      </td>
      <td class="total">
      <%= render_each_item_total_price(cart_item) %>
      </td>
      <td>
      <%= link_to item_path(item),method: :delete, data: { confirm: "Are you sure?"} do %>
        <span class="fa fa-trash"></span>
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="clearfix">
  <%= content_tag(:span, "總計" + render_cart_total_price(current_cart).to_s+ "NTD", class: "cart-total pull-right") %>
</div>
<div class="clearfix">

  <span class="pull-right"><%= link_to("確認購買", checkout_carts_path, method: :post, class: "btn btn-primary") %></span>
</div>

