<h2>購物車清單</h2>
<div class="clearfix">
<span class="pull-right"><%= link_to("清空購物車", clean_carts_path, method: :delete, class: "btn btn-danger") %></span>
</div>
<table class="table">
  <thead>
    <tr>
      <th>商品圖片</th>
      <th>商品名稱</th>
      <th>商品單價</th>
      <th>商品數量</th>
      <th>總價</th>
      <th>刪除</th>
    </tr>
  </thead>
  <tbody>
  <% @items.each do |cart_item| %>
    <tr>
      <td>
      <% if cart_item.photo.image.present? %>
      <%= image_tag(cart_item.photo.image.thumb.url, class: "thumbnail") %>
      <% else %>
      <%= image_tag("http://placehold.it/200x200&text=No pic", class: "thumbnail") %>
      <% end%>
      </td>
      <td>
      <%= link_to(cart_item.title, product_path(cart_item)) %>
      </td>
      <%= content_tag(:td, cart_item.price, 'data-price' => cart_item.price, class: "price") %>
      <td>
        <% item = current_cart.cart_items.find_by(product_id: cart_item) %>
        <%= simple_form_for item, url: item_path(cart_item) do |f| %>
        <%=f.select :quantity, 1..cart_item.quantity  %>
        <%= f.submit "送出", 'type'=>'hidden', id: "quantity"%>
        <% end %>
      </td>
      <td class="total">
      <%= render_each_item_total_price(cart_item) %>
      </td>
      <td>
      <%= link_to item_path(cart_item),method: :delete, data: { confirm: "Are you sure?"} do %>
        <span class="fa fa-trash"></span>
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="clearfix">
  <%= content_tag(:span, "總計" + render_cart_total_price(current_cart).to_s+ "NTD", class: "cart-total pull-right") %>
</div>
<div class="clearfix">
  <span class="pull-right"><%= link_to("確認購買", checkout_carts_path, method: :post, class: "btn btn-primary") %></span>
</div>

