<h2><%= @product.title %></h2>
<%= @product.price %>
<% if @product.photo.present? %>
    <%= image_tag(@product.photo.image.thumb.url, class: "thumbnail") %>
  <% else %>
    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
    <% end %>
<%= link_to("新增尺寸", new_admin_product_size_path(@product), class: "btn btn-primary") %>
可選尺寸

<% @product.sizes.each do |product| %>
<div>尺寸：<%= product.size %> - 數量： <%= product.quantity %> - <%= link_to("修改", edit_admin_product_size_path(product.product, product)) %> - <%= link_to("刪除", admin_product_size_path(product.product, product), method: :delete) %></div>
<% end %>
