      <!-- begin:logo -->
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="logo">
            <h1><a href="index.html">Clothe<span>shop</span> </a></h1>
            <p>Clean and simple shopping cart</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="account">
            <ul>
              <li id="your-account">
                <div class="hidden-xs">
                  <h4><%= "歡迎光臨" %></h4>
                  <p>Welcome</a></p>
                </div>
                <div class="visible-xs">
                  <a href="login.html" class="btn btn-primary"><i class="fa fa-user"></i></a>
                </div>
              </li>
              <li>
                <div class="hidden-xs">
                  <h4>購物車有</h4>
                  <p><strong><%= link_to("#{render_cart_items_count(current_cart)}件商品", carts_path) %></strong></p>
                </div>
                <div class="visible-xs">
                  <a href="cart.html" class="btn btn-primary"><span class="cart-item">3</span> <i class="fa fa-shopping-cart"></i></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end:logo -->

      <!-- begin:nav-menus -->
      <div class="row">
        <div class="col-md-12">
          <div class="nav-menus">
            <ul class="nav nav-pills">
              <li><%= link_to("首頁",products_path) %></li>
              <li><%= link_to("關於",about_products_path) %></li>
              <li class="active"><%= link_to("聯絡",contact_products_path) %></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end:nav-menus -->

      <!-- begin:article -->



          <div class="row">
            <div class="col-md-12">
              <ol class="breadcrumb">
                <li><a href="#">最頂</a></li>
                <li class="active">聯絡資訊</li>
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="page-header">
                  <h2>聯絡方式<small></small></h2>
              </div>



              <h3>Facebook <i class="fa fa-facebook-square"></i></h3>
              <p><%= link_to("臉書連結", "https://www.facebook.com/si.en.33") %></p>

              <h3>Gmail <i class="fa fa-envelope"></i></h3>
              <p><%= link_to("寄信給我", "mailto:kid09321@hotmail.com") %></p>

            </div>
          </div>

