<div class="clearfix"style="height:50px;">
<span class="pull-right">
<%= form_tag products_path, method: :get, class: "search-bar" do %>
    <%= text_field_tag :search, params[:search], placeholder: "搜尋關鍵字", style: "border-color:black; border-top:0;border-left:0;border-right:0;"%>
    <%= submit_tag "Search", name: nil ,type: "hidden", class: "fa fa-search"%>
    <a href="#" class="submit">
    <i class="fa fa-search submit"></i>
    </a>
<% end %>
</span>
</div>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.photo.present? %>
          <%= image_tag(product.photo.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
        <% end %>
      <% end %>
      <%= product.title %> $ <%= product.price %>
    </div>
  <% end %>
</div>
<div class="clearfix">
<span class="pull-right under-line">
page  &lt; <%= render "page" %> &gt;
</span>
</div>
