<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5&appId=952119471551860";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="row">
  <div class="col-md-6">
    <%= image_tag(@product.photo.image.medium.url, class: "thumbnail") %>
  </div>
  <div class="col-md-6">
   <h2> <%= @product.title %> </h2>
   <div style="height: 100px;">
    <p>
      <%= @product.description %>
    </p>
   </div>
   <div class="clearfix">
   <% @product.sizes.each do |size|%>
    <% if size.quantity > 0 %>
      <div class="size">
        <%=link_to(size.size, "#") %>
      </div>
    <% else %>
      <div class="soldout">
        <%= link_to(size.size, "#") %>
      </div>
    <% end %>
   <% end %>
   </div>
   <div ><% item = current_cart.cart_items.build %>
    <%= simple_form_for item, url: add_to_cart_product_path(@product) do |f| %>
    <div class="group">
    <%= f.input :quantity, label: "數量" %>
    </div>
    <%= f.input :size , :as => :hidden%>

   </div>
   <div class="product-price"> $ <%= @product.price %> </div>
   <div class="clearfix">
    <div class="pull-right">

      <%= f.submit "加入購物車", method: :post, class: "btn btn-primary" %>

      <% end %>
  <%= render @product %>
    </div>
  </div>
  </div>
</div>
    <!-- <div class="fb-comments" data-href="https://blooming-ocean-22766.herokuapp.com/products/" data-width="500px;" data-numposts="5"></div> -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "fbcomments", product: @product %>
  </div>
</div>

