<div class="row">
  <div class="col-md-6">
   <% if @product.photo.present? %>
   <%= image_tag(@product.photo.image.medium.url, class: "thumbnail") %>
   <% else %>
   <%= image_tag("http://placehold.it/400x400&text=No pic", class: "thumbnail") %>
   <% end %>
  </div>
  <div class="col-md-6">
    <h2 class="text-center"><%= @product.title %></h2>
    <div style="height:100px;">
    <%= @product.description %>
    </div>
    <p>庫存<%= @product.quantity%>個</p>
    <div class="product-price">價格 <%= @product.price %></div>
    <div class="pull-right"><% if @product.quantity >0 %><%= link_to("加入購物車", add_product_to_cart_product_path(@product), method: :post, class: "btn btn-danger") %>
    <% else %>
    銷售一空
    <% end %></div>
    </div>
    </div>

