<nav class="nav navbar-default" role="navigation" style="margin-bottom:10px">
<div class="container-fluid">
<div class="nav navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a href="/" class="nav navbar-brand">artstore</a>
</div>
<div class="collapse navbar-collapse" id="mynav">
<ul class="nav navbar-nav">
  <li><%= link_to("商品", products_path) %></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to carts_path,method: :get do %>購物車(<%= render_cart_items_count(current_cart) %>)<i class="fa fa-shopping-cart"></i><% end %></li>
<% if !current_user %>
  <li><%= link_to("登入", new_user_session_path) %></li>
  <li><%= link_to("Facebook登入", user_omniauth_authorize_path(:facebook)) %></li>
<% else %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Hi,<%= current_user.email %>
      <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
    <% if current_user.is_admin? %>
      <li><%= link_to("管理後台", admin_products_path) %></li>
    <% end %>
      <li><%= link_to("我的訂單", account_orders_path) %>
      <li><%= link_to("登出", destroy_user_session_path, method: :delete) %></li>
    </ul>
  </li>
  <% end %>
</ul>
</div>
</div>
</nav>
