<!DOCTYPE html>
<html>
<head>
  <title>SENSHOP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "common/navbar" %>
<%= notice_message %>
<div class="col-md-offset-2 col-md-8">
<%= yield %>
<%= render "common/footer" %>
</div>
</body>
</html>
